body {
    background: rgb(81, 55, 111);
    font-family: 'Open Sans', sans-serif;
}

#container {
    text-align: center;
    width: 500px;
    margin: 100px auto;
    background: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    background: #fff;
    padding-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 200px;
}

input {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

button{
    background: rgb(81, 55, 111);
    color: #fff;
    padding: 10px;
    border: 0px;
    border-radius: 10px;
    margin-bottom: 20px;
}

button:hover {
    cursor: pointer;
    background: rgba(81, 55, 111, 0.5);
}

.error {
    margin: 0px;
    color: red;
}

.success {
    margin: 0px;
    color: green;
}